Django~=5.0.8
dbca-utils==2.0.2
gunicorn==23.0.0
gevent==24.11.1
git+https://github.com/dbca-wa/webtemplate2.git#egg=webtemplate_dbca
git+https://github.com/dbca-wa/wagov_utils.git#egg=wagov_utils
git+https://github.com/dbca-wa/appmonitor_client.git#egg=appmonitor_client
whitenoise==6.5.0
dj-database-url==2.0.0
python-decouple==3.8
pytz==2023.3
#git+https://github.com/xzzy/django-proxy#egg=django-proxy
django-cors-headers==4.2.0
GDAL==3.9.3
affine==2.1.0
#./packages/GDAL-3.6.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
djangorestframework==3.15.2
Jinja2==3.1.5
django-jinja==2.10.2
jinja2-context-filters==1.0.0
boto3==1.35.26
pyproj>=1.9.5.1
shapely>=1.6.0
django-cron==0.6.0
psycopg2==2.9.7
psycopg==3.1.10
requests==2.32.3
urllib3==2.2.3
uWSGI==2.0.27
