Django==4.2.3
git+https://github.com/dbca-wa/dbca-utils.git#egg=dbca-utils
gunicorn==21.2.0
gevent==23.7.0
git+https://github.com/dbca-wa/webtemplate2.git#egg=webtemplate_dbca
git+https://github.com/dbca-wa/wagov_utils.git#egg=wagov_utils
whitenoise==6.5.0
dj-database-url==2.0.0
python-decouple==3.8
pytz==2023.3
#git+https://github.com/xzzy/django-proxy#egg=sssproxy
django-cors-headers==4.2.0
