<html>
<head>
 <meta charset="UTF-8"> 
 <script src="static/dist/static/js/gokart-client.js"></script>
</head>
<body>
    <script language="javascript">
        if (window.top !== window.self) {
            var client = null
            var options = null
            var debug = true
            window.addEventListener("message",function (event) {
                var request = JSON.parse(event.data)
                if (request.method === "create") {
                    console.log("inside create")
                    options = request.options
                    console.log(request)
                    console.log(options)
                    debug = options.debug
                    client = new GokartClient(options.app,options.module,options.debug)
                    window.top.postMessage(JSON.stringify({requestId:request.method,data:{status:"OK",message:"Succeed"}}),options.origin)
                } else if(request.method) {
                    var data = request.data
                    console.log("inisde else if")
                    console.log(data)
                    console.log(client)
                    if (debug) console.log(Date() + " : call gokart method = " + request.method + ", data = " + JSON.stringify(data))
                    client.call(request.method,data.options,data.module,request.ignoreIfNotOpen)
                }
            },false)
        }

    </script>
</body>
</html>